@tailwind base;
@tailwind components;
@tailwind utilities;

/*/Users/kuoldeng/projectx/frontend/pyfactor_next/src/app/globals.css*/
/* Add the following styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.MuiListItemButton-root {
  border-bottom: none !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @layer base {
    .MuiListItemButton-root {
      @apply border-b-0;
    }
  }
}

/* Add any additional custom styles for MUI components */