# Deployment files
*.zip
pyfactor-docker-deployment*.zip
fixed-docker-eb-package*.zip
optimized-docker-eb-package*.zip

# Temp files
backend/pyfactor/temp_extract/
backend/pyfactor/temp_extract_fix/
backend/pyfactor/tmp-deploy/

# Node modules
node_modules/
**/node_modules/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
**/migrations/__pycache__/

# Environment
.env
**/.env
.env.local
**/.env.local

# Distribution / packaging
dist/
build/
*.egg-info/

# Docker files and backups
*.backup-*
*.backup
backup-*

# Database files
dump.rdb
*.db
*.sqlite3
*.log

# Misc
.DS_Store
.idea/
.vscode/
.expo/
