option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pyfactor.settings_eb
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    EB_ENV_NAME: Dott-env
    EB_DOMAIN: Dott-env.us-east-1.elasticbeanstalk.com
    DOMAIN: dottapps.com

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: 20
    HealthCheckInterval: 15
    HealthCheckPath: /health/
    HealthCheckTimeout: 5
    StickinessEnabled: true
    MatcherHTTPCode: 200
