option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pyfactor.settings_eb
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    EB_ENV_NAME: pyfactor-docker-env
    DOMAIN: dottapps.com
    
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: 20
    HealthCheckInterval: 15
    HealthCheckPath: /health/
    HealthCheckTimeout: 5
    StickinessEnabled: true
    MatcherHTTPCode: 200
