# Additional commands to enable PostgreSQL repositories on Amazon Linux 2023
commands:
  01_enable_amazon_extras:
    command: "dnf install -y dnf-plugins-core && dnf config-manager --set-enabled amazonlinux-appstream"
    ignoreErrors: true
  02_install_dev_tools:
    command: "yum groupinstall -y 'Development Tools'"
    ignoreErrors: true
  03_install_libpq:
    command: "yum install -y libpq-devel"
    ignoreErrors: true
