# Database Configuration for RDS PostgreSQL
option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_DB_NAME: "dottapps"
    RDS_USERNAME: "dott_admin"
    RDS_PASSWORD: "RRfXU6uPPUbBEg1JqGTJ"
    RDS_HOSTNAME: "dott-dev.c12qgo6m085e.us-east-1.rds.amazonaws.com"
    RDS_PORT: "5432"
    DATABASE_URL: "postgresql://dott_admin:RRfXU6uPPUbBEg1JqGTJ@dott-dev.c12qgo6m085e.us-east-1.rds.amazonaws.com:5432/dottapps"
