option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pyfactor.settings_eb
    PYTHONUNBUFFERED: 1
    SECRET_KEY: "t+3=29ifzne^^$626vnvq7w5f&ky7g%54=ca^q3$!#v&%ubjib"
    RDS_DB_NAME: dott_main
    RDS_USERNAME: dott_admin
    RDS_PASSWORD: RRfXU6uPPUbBEg1JqGTJ
    RDS_HOSTNAME: dott-dev.c12qgo6m085e.us-east-1.rds.amazonaws.com
    RDS_PORT: 5432
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:ec2:instances:
    InstanceTypes: t3.small
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Fixed
    BatchSize: 1
